{% extends "ae/main.html" %}
{% load static %}

{% block title %}iWA Group of Companies{% endblock title %}

{% block content %}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">iWA Group of Companies</h1>
            <p>Discover the other services we offer</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-sm-6">
                <a class="cat-item text-center rounded p-3" href="https://www.iwaproperties.com/">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/iwa-group/iwa-properties.png' %}" alt="Icon" style="width: 100px; height: 100px;">
                        </div>
                        <h6>iWA Properties</h6>
                        <span>iWA Properties offers a hassle-free process to buy, sell, rent, and invest in prime plots and sites. We provide a user-friendly experience by teaming up with reliable developers in business-friendly locations.</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="cat-item text-center rounded p-3" href="https://www.iwacitizenships.com/">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/iwa-group/iwa-citizenships.png' %}" alt="Icon" style="width: 100px; height: 100px;">
                        </div>
                        <h6>iWA Citizenships</h6>
                        <span>Second Passport &amp; Dual Citizenship Programs. iWA citizenship program grants investors access to a business-friendly location and citizenship of this diverse and peaceful country for an investment.</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="cat-item text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/iwa-group/iwa-truck.png' %}" alt="Icon" style="width: 100px; height: 100px;">
                        </div>
                        <h6>iWA Truck</h6>
                        <span>iWA Truck is UAE’s 1st mini truck &amp; Car recovery booking app. A FAST on-demand Shifting application that connects you with nearby drivers for shifting goods within the UAE.</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="cat-item text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/iwa-group/iwa-cars.png' %}" alt="Icon" style="width: 100px; height: 100px;">
                        </div>
                        <h6>iWA Cars</h6>
                        <span>Elevate your drive with our high-end sports and luxury cars, at iWA Cars, ensuring every moment is a celebration of opulence and seamless excellence. Take your driving experience to the next level and book your car with us.</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="cat-item text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/iwa-group/iwa-technologies.png' %}" alt="Icon" style="width: 100px; height: 100px;">
                        </div>
                        <h6>iWA Technologies</h6>
                        <span>iWA Technologies specializes in developing innovative solutions that drive growth and streamline business processes. Our team of experts is dedicated to delivering cutting-edge solutions that are tailored to meet the unique needs of our clients.</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="cat-item text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/iwa-group/iwa-tourism.png' %}" alt="Icon" style="width: 100px; height: 100px;">
                        </div>
                        <h6>iWA Tourism</h6>
                        <span>Embark on a journey with iWA Tourism's tailored services, where curated travel adventures await. Every expedition is a celebration of the extraordinary, ensuring seamless experiences and crafting cherished memories for a lifetime.</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
