{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script type="text/javascript" src="{% static 'vendors/_jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/isotope-layout/isotope.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery-one-page/jquery.nav.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery.easing/jquery.easing.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery.matchHeight/jquery.matchHeight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/masonry-layout/masonry.pkgd.js' %}"></script>
{% comment %} <script type="text/javascript" src="{% static 'vendors/swiper/swiper.jquery.js' %}"></script> {% endcomment %}
<script type="text/javascript" src="{% static 'vendors/menu/menu.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery.select2/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
